<nubackups>
	<config>
		<archive_label>YOURBACKUPLABEL</archive_label>
		<local_folder>/data/backups/</local_folder> <!-- ensure that this has both a begining and trailing forward slash -->
		<tar_exe>/bin/tar</tar_exe>

		<email_server>smtp.gmail.com</email_server>
		<email_to></email_to>
		<email_from></email_from>
		<email_from_name>SysAdmin</email_from_name>
		<email_secure>ssl</email_secure> <!-- ssl or {empty} -->
		<email_auth>y</email_auth> <!-- y or n -->
		<email_port>465</email_port>
		<email_username></email_username>
		<email_password></email_password>

		<mysql>y</mysql> <!-- y or n -->
		<mysql_host>localhost</mysql_host> 
                <mysql_exe>mysqldump --add-drop-table --single-transaction </mysql_exe>
                <mysql_username>root</mysql_username>
                <mysql_password></mysql_password> 

		<mysql_query>SELECT SCHEMA_NAME AS Dname FROM SCHEMATA</mysql_query> <!-- must use information_schema database and call the table name Dname -->

	</config>

	<folder_list>
                <folder>
                        <folder_label>CRONS</folder_label>
                        <folder_path>/var/spool/cron/</folder_path>
                        <folder_split>n</folder_split>
                        <folder_split_exclude>
				<exclude>bla</exclude>
                        </folder_split_exclude>
                </folder>
                <folder>
                        <folder_label>PHPMYADMIN</folder_label>
                        <folder_path>/var/www/phpmyadmin/</folder_path>
                        <folder_split>n</folder_split>
                        <folder_split_exclude>
                        </folder_split_exclude>
                </folder>
	</folder_list>
</nubackups>
